body {
  background-image: url("background_office.jpg");
  background-color: #C0C0B6;
  margin-left: 15px;
  background-repeat: no-repeat;
  max width: 1400px;
}

table, th, tr, td {
  border: 1px solid black;
}

table {
    width: 40%;
    border-collapse: collapse;
    margin: auto;
    background-color: rgba(0,0,0,0.65);
    position: absolute;
    height: 100px;
    width: 1300px;
    font-family: courier new;
    color: #FFF;
    top: 339px;
    text-align: center;
    max-width: 1400px;
    table-layout: fixed;
    margin-left:2%;
    margin-right:5%;
}

tr {
    height: 75px;
}

td {
    padding: 15px;
    font-size: 100%;
}

h1 {
  background-color: rgba(0,0,0,0.65);
  position: absolute;
  height: 50px;
  width: 1400px;
  font-family: courier new;
  color: #FFF;
  bottom: 630px;
  text-align: center;
  padding-top: 10px;
}

h2 {
  background-color: rgba(0,0,0,0.65);
  position: absolute;
  height: 44px;
  width: 1400px;
  font-family: courier new;
  color: #FFF;
  bottom: 580px;
  text-align: center;
  font-size: 200%;
}

#firstH3 {
  background-color: rgba(0,0,0,0.65);
  position: absolute;
  height: 45px;
  width: 1400px;
  font-family: courier new;
  color: #FFF;
  bottom: 533px;
  text-align: center;
  padding-top: 10px;
}

#secondH3 {
  background-color: rgba(0,0,0,0.65);
  position: absolute;
  height: 45px;
  width: 1400px;
  font-family: courier new;
  color: #FFF;
  bottom: 423px;
  text-align: center;
  padding-top: 10px;
}

#thirdH3 {
  background-color: rgba(0,0,0,0.65);
  position: absolute;
  height: 45px;
  width: 1400px;
  font-family: courier new;
  color: #FFF;
  bottom: 478px;
  text-align: center;
  padding-top: 10px;
}
