body {
  /*background-image: url("background_office.jpg");*/
  background-color: #C0C0B6;
  margin-left: 15px;
  background-repeat: no-repeat;
  max width: 1400px;
}

@font-face {
  font-family: "courier new";
  src: url("http://fontzone.net/font-details/courier-new")
}

table, th, tr, td {
  border: 1px solid black;
}

table {
    width: 40%;
    border-collapse: collapse;
    margin: auto;
    background-color: rgba(0,0,0,0.65);
    position: absolute;
    height: 100px;
    width: 1300px;
    font-family: "courier new";
    color: #FFF;
    top: 270px;
    text-align: center;
    max-width: 1400px;
    table-layout: fixed;
    margin-left:2%;
    margin-right:5%;
}

tr {
    height: 75px;
}

td {
    padding: 15px;
    font-size: 100%;
    cursor: pointer;
}

h1 {
  background-color: rgba(0,0,0,0.65);
  position: absolute;
  height: 50px;
  width: 1400px;
  font-family: "courier new";
  color: #FFF;
  bottom: 630px;
  text-align: center;
  padding-top: 10px;
}

h2 {
  background-color: rgba(0,0,0,0.65);
  position: absolute;
  height: 44px;
  width: 1400px;
  font-family: "courier new";
  color: #FFF;
  bottom: 580px;
  text-align: center;
  font-size: 200%;
}

#firstH3 {
  background-color: rgba(0,0,0,0.65);
  position: absolute;
  height: 30px;
  width: 1400px;
  font-family: "courier new";
  color: #FFF;
  bottom: 548px;
  text-align: center;
  padding-top: 10px;
}

#secondH3 {
  background-color: rgba(0,0,0,0.65);
  position: absolute;
  height: 30px;
  width: 1400px;
  font-family: "courier new";
  color: #FFF;
  bottom: 468px;
  text-align: center;
  padding-top: 10px;
}

#thirdH3 {
  background-color: rgba(0,0,0,0.65);
  position: absolute;
  height: 30px;
  width: 1400px;
  font-family: "courier new";
  color: #FFF;
  bottom: 508px;
  text-align: center;
  padding-top: 10px;
}

#resetButton {
  position: relative;
  font-family: "courier new";
  color: #FFF;
  background-color: rgba(0,0,0,0.65);
  border: 1px solid black;
  padding: 23px 87px;
  box-shadow: 0 0 5px;
  border-radius: 2px;
  cursor: pointer;
  bottom: 93px;
  margin-left: 40%;
  font-size: 1em;
}
